body{
    margin: 0px;
}

.mainheader {
    display: flex;
    background-image: url(../image/header_image.avif);
    filter: contrast(1.5);
    padding: 20px;
    justify-content: center;
}


.container {
    display: flex;
  }

img{    
    width: 600px;
    height: 410px;
}

.article-container {
    margin: -28px 10px 10px 10px;
    padding: 10px;
  }

h7 {
    color: whitesmoke;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    font-size: 50px;
}

h2  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

p   {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

li  {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}